/* style navbar start*/
nav {
  display: flex;
  background-color: rgba(25, 57, 90, 0.5);
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  max-width: 100%;
}

.logo img {
  max-width: 20%;
  margin-right: 10px;
}

.main {
  background-color: rgba(25, 57, 90, 0.5);
}

.href ul li {
  display: inline;
  justify-content: space-around;
  width: 20%;
}

.href ul {
  list-style-type: none;
  margin: 0;
}

.href li {
  list-style: none;
}

.href ul li a {
  color: #fd7e14;
  font-size: 15px;
  font-weight: 200;
  margin-right: 10px;
  border: 1px solid #212529;
  text-decoration: none;
  text-transform: uppercase;
}

.href ul li a:hover {
  color: #0dcaf0;
  transition: 0.5s ease-in-out;
}

.hamburger {
  display: block;
  float: left;
  margin-left: 10px;
  cursor: pointer;
}

.hamburger div {
  background-color: #20c997;
  font-size: 40px;
  line-height: 20px;
  width: 15px;
  height: 5px;
  cursor: pointer;
  margin: 5px;
  display: none;
}

/* a:hover{
    border: 1px solid black;
    transition: 5s;
} */
/* nav ends */

/* eye icon */

/* .fa-regular {
  position: relative;
  right: 4%;
  cursor: pointer;
  color: #212529;
} */

/* eye icon */

@media (max-width: 1048px) {
  .logo {
    padding-left: 50px;
  }

  href ul {
    margin-right: 20px;
  }

  href a {
    font-size: 17px;
  }
}

@media (max-width: 760px) {
  body {
    overflow-x: hidden;
  }
  .logo {
    margin-left: 20px;
  }

  .href {
    position: absolute;
    right: 13%;
    top: 9.5vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    transition: transform 0.5s ease-in;
  }

  .href ul {
    display: inline-grid;
  }

  .href ul li {
    padding: 30px 10em;
    width: 100%;
  }

  .href li {
    transform: translateX(100%);
    opacity: 0;
    background-color: #212529;
    margin: 0;
  }

  .href a {
    font-size: 25px;
  }

  a:hover {
    color: #0dcaf0;
  }

  href ul show {
    left: 0;
  }

  .hamburger div {
    background-color: #20c997;
    display: block;
    font-size: 10px;
    line-height: 15px;
    float: right;
    width: 65%;
    height: 3px;
    top: 200%;
    cursor: pointer;
    margin-right: 30px;
  }

  .hamburger div:hover {
    color: #6610f2;
  }
}

.nav-active {
  transform: translateX(0%);
}

/* toggle and animation */
@keyframes newIcon {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-13px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-13px, -5px);
}

/* style navbar end*/

/* body styling start */

/* .header {
  background-color: lightcoral;
} */

.container-style {
  animation-name: newAnime;
  animation-duration: 0-5s;
  position: relative;
  background-image: url(./BG.jpg);
  background-size: cover;
  max-width: 100%;
  background-repeat: no-repeat;
  font-family: "Oswald";
}

@keyframes myAnime {
}

/* header */

.source {
  max-width: 50%;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #198754;
  text-decoration: underline;
  margin: 50px auto;
  text-align: center;
}

.source:hover {
  color: #adb5bd;
}
/* body styling end */

/* form start */
.project {
  background-color: #adb5bd;
  color: #0d6efd;
  max-width: 80%;
  border: 2px solid #6c757d;
  border-radius: 30px 0;
  margin: 60px 20%;
}

.mb-3 {
  margin-top: 20px;
}

.mb-3:hover {
  color: #198754;
}

.container {
  margin-bottom: 20px;
  margin-left: auto;
}

::placeholder {
  color: #adb5bd;
}

.btn-primary {
  padding: 10px 80px;
  border-radius: 30px;
  font-size: 14px;
  margin: 20px auto;
  display: block;
  font-family: "Oswald";
  font-weight: 400;
  background-color: radial-gradient(#6610f2, #6f42c1);
  color: #fff;
}

label{
    text-transform: capitalize;
}

.fa {
  color: #6c757d;
  font-size: 20px;
}

/* form end */

/* header end */
